@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display&display=swap');


/*GLOBAL*/
body {
    padding-top: 5rem;

}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Playfair Display', serif;
}


main {
    padding: 20px;
}
main.container-fluid {
    width: 50%;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
}

nav {
    margin-bottom: 120px;
}

.navbar-brand {
    margin-left: 20px;
}

button.navbar-toggler{
margin-right: 10px;
}

.home_2col {
    margin-bottom: 20px;
}

img.dibley {
    max-width: 100%
}
body {
    padding-top: 5em;
}

.wrapper {
    display: grid;
    grid-gap: 10px; 
    grid-auto-rows: minmax(100px, auto); 
}

.box1 {
    grid-column: span 4; 
    grid-row: span 2; 
    background-color: #a61e4d;
    border: 1px solid black;
    font-size: 2.9em;
}

.box2 {
    grid-column: span 2; 
    grid-row: span 2; 
    background-color: #ffec99;
    border: 1px solid black;
    font-size: 2.9em;
}

.box3 {
    grid-column: span 2;
    background-color: #a9e34b;
    border: 1px solid black;
    font-size: 2.9em;
}

.box4 {
    grid-column: span 1; 
    background-color: #c5f6fa;
    border: 1px solid black;
    font-size: 2.9em;
}

.box5 {
    grid-column: span 1; 
    background-color: #6741d9;
    border: 1px solid black;
    font-size: 2.9em;

}

.box6 {
    grid-column: span 4; 
    background-color: #f06595;
    border: 1px solid black;
    font-size: 2.9em;
}


    
